block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Summary' onClick="Summary();") Crop Summary
			li.nav-item
				a.nav-link(href='#' id='Farm' onClick="Weather();") Weather Summary
			li.nav-item
				a.nav-link(href='#' id='weatherAnalysis' onClick="WeatherAnalysis();") Weather Analysis
			li.nav-item
				a.nav-link.active(href='#' id='cropAnalysis' onClick="CropAnalysis();") Crop Analysis
		div(id='id' data-bind=data.farmID style='display:none')
		div(id='data' data-bind=data style='display:none')
		br
		p(id= 'instructions') Drag the slider to see the PH or Soil Moisture results below!
		.container
			.row
				.col
					button.btn.btn-primary(id='moisture', href='#', onclick='moisture();' style="width:100%; height:40px; border: 1px solid white") Moisture
				.col
					button.btn(id='ph', href='#', onclick='ph();' style="width:100%; height:40px; border: 1px solid white") PH
		#chart_div(style="height: 400px")

		-var min = 0
		-var max = 11
		-var m = (new Date()).getMonth()
		-var i = 0
		-var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		each field in data.fields
			-i = 0
			each month in field.months
				if month.noData == false
					-max = i
				-i++
		
		each field in data.fields
			-i = 0
			each month in field.months
				if month.noData == false
					-min = i
					-break
				-i++
		.container
			.row
				.col
					p(style="display: inline; padding-right: 5px; padding-left:36px") #{months[min]}
					input#slider.slider(type='range', min=min, max=max, value=m, style="display: inline-block; vertical-align:middle", oninput="showVal(this.value)", onchange="showVal(this.value)")
					p(style="display: inline; padding-left: 5px") #{months[max]}
		- var n = 0;
		- var max = 12;
		- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		hr
		div(class="container" id="carousel")
			.row
				while n < max/2
					.col-sm-2(style="padding: 0")
						button.btn(id=n, href='#', onclick='displayAnalysis(this.id);' style="width:100%; height:40px; border: 1px solid white") #{months[n]}
					- n++
			.row
				while n < max
					.col-sm-2(style="padding: 0")
						button.btn(id=n, href='#', onclick='displayAnalysis(this.id);' style="width:100%; height:40px; border: 1px solid white") #{months[n]}
					- n++
		hr
		script(src="/javascript/cropAnalysisButtons.js")
		
