block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Farm' onClick="Weather();") Weather Summary
			li.nav-item
				a.nav-link(href='#' id='Summary' onClick="Summary();") Crop Summary
			li.nav-item
				a.nav-link(href='#' id='weatherAnalysis' onClick="WeatherAnalysis();") Weather Analysis
			li.nav-item
				a.nav-link.active(href='#' id='cropAnalysis' onClick="CropAnalysis();") Crop Analysis
		div(id='id' data-bind=data.farmID style='display:none')
		p Click on a button to see crop analysis from that month!
		hr
		- var n = 0;
		- var max = 12;
		- var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
		div(class="container" id="carousel")
			.row
				while n < max/2
					.col-sm-2(style="padding: 0")
						button.btn(id=n, href='#', onclick='displayAnalysis(this.id);' style="width:100%; height:40px; border: 1px solid white") #{months[n]}
					- n++
			.row
				while n < max
					.col-sm-2(style="padding: 0")
						button.btn(id=n, href='#', onclick='displayAnalysis(this.id);' style="width:100%; height:40px; border: 1px solid white") #{months[n]}
					- n++
		hr
		- n = 0
		while n < max
			div.displayAnalysis(id="display"+n)
				pre
					if data.months[n].noData == true
						p No data avaliable for this month! Get farming!
					else	
						ul
							each val in data.months[n].fields
								li= "Crop Name: " + val.crop
								li= "Number Harvested: " + val.harvestedNumber
								li= "Number Still Growing: " + val.notHarvestedNumber
								li= "Average PH: " + val.averagePH
								li= "Average Soil Moisture: " + val.averageSoilMoisture
			- n++ 
		script(src="/javascript/monthButtons.js")
		
