block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link(href='#' id='Summary' onClick="Summary();") Crop Summary
			li.nav-item
				a.nav-link.active(href='#' id='Farm' onClick="Weather();") Weather Summary
			li.nav-item
				a.nav-link(href='#' id='weatherAnalysis' onClick="WeatherAnalysis();") Weather Analysis
			li.nav-item
				a.nav-link(href='#' id='cropAnalysis' onClick="CropAnalysis();") Crop Analysis
		div(id='weather' data-bind=data.farm.weather[0].weatherType style='display:none')
		div(id='season' data-bind=data.farm.weather[0].season style='display:none')
		div(id='id' data-bind=data.farmID style='display:none')
<<<<<<< HEAD
		div(id='temperatureVal' data-bind=data.farm.weather[0].temperature style='display:none')
		div(id='humidityVal' data-bind=data.farm.weather[0].humidity style='display:none')
		.container
			.row
				.col
					img(src='images/headings/season.png') 
				.col(style="padding-top: 13px; padding-left: 60px")
					if data.farm.weather[0].season == 'Autumn'
						img(src='images/seasons/autumn.png')
					else if data.farm.weather[0].season == 'Spring'
						img(src='images/seasons/spring.png')
					else if data.farm.weather[0].season == 'Winter'
						img(src='images/seasons/winter.png')
					else if data.farm.weather[0].season == 'Summer'
						img(src='images/seasons/summer.png')
			hr
			.row
				.col 
					img(src='images/headings/weather.png')
				.col(style="padding-top: 20px")
					if data.farm.weather[0].weatherType == 'Clear'
						img(src='images/weather/clear.png')
					else if data.farm.weather[0].weatherType == 'Cloudy'
						img(src='images/weather/cloudy.png')
					else if data.farm.weather[0].weatherType == 'Fog'
						img(src='images/weather/fog.png')
					else if data.farm.weather[0].weatherType == 'Lightning'
						img(src='images/weather/lightning.png')
					else if data.farm.weather[0].weatherType == 'Rain'
						img(src='images/weather/rain.png')
					else if data.farm.weather[0].weatherType == 'Snow'
						img(src='images/weather/snow.png')
					else if data.farm.weather[0].weatherType == 'Sunny'
						img(src='images/weather/sunny.png')
					else if data.farm.weather[0].weatherType == 'Windy'
						img(src='images/weather/windy.png')
			hr
			.row
				.col(style="padding-top: 24px;")
					img(src='images/headings/temperature.png')
				.col(style="padding-left: 65px")
					.thermodiv
						#mercury(onload='move()')
					#circle
						#temperature(style="display: none") #{JSON.stringify(data.farm.weather[0].temperature)}°C
			hr
			.row
				.col(style="padding-top: 15px")
					img(src='images/headings/humidity.png')
				.col(style="padding-left: 30px; padding-top: -2px")
					.humcontainer
						img.moisture(src='images/weather/raindrop.png')
						#water
						#humidity(style="display: none") #{JSON.stringify(data.farm.weather[0].humidity)}%
			br
			hr
			.row(style="align-text: center")
				.col(style="padding-left: 50px;")
					img(src='images/headings/wind.png')
				.col
					p.result #{JSON.stringify(data.farm.weather[0].windStrength)}MPH
				.col(style="padding-left: 70px;")
					-var w = JSON.stringify(data.farm.weather[0].windStrength)
					-w = parseInt(w)
					if w >= 32
						img(src='images/arrows/heavy.png')
					else if w >=13
						img(src='images/arrows/medium.png')
					else
						img(src='images/arrows/light.png')
		script(src="/javascript/thermometer.js")
=======
		div(id='temperature' data-bind=data.farm.weather[0].temperature style='display:none')
		script(src="/javascript/thermometer.js")
		.summary-container
			.bField
				img(src='images/headings/wind.png', style='padding-left:50px')
			.seasonLabel
				img.gridLabel(src='images/headings/season.png') 
			.weatherLabel
				img.gridLabel(src='images/headings/weather.png')
			.seasonContainer
				if data.farm.weather[0].season == 'Autumn'
					img.gridResult(src='images/seasons/autumn.png')
				else if data.farm.weather[0].season == 'Spring'
					img.gridResult(src='images/seasons/spring.png')
				else if data.farm.weather[0].season == 'Winter'
					img.gridResult(src='images/seasons/winter.png')
				else if data.farm.weather[0].season == 'Summer'
					img.gridResult(src='images/seasons/summer.png')
			.temperatureLabel
				img.gridLabel(src='images/headings/temperature.png', style='height:75px')
			.temperatureContainer
				.thermodiv
					#mercury(onclick='move()')
				#circle
					#temperature #{JSON.stringify(data.farm.weather[0].temperature)}°C
				br
				button(onclick='move()') Display Temperature		
			.WeatherContainer
				if data.farm.weather[0].weatherType == 'Clear'
					img.gridResult(src='images/weather/clear.png')
				else if data.farm.weather[0].weatherType == 'Cloudy'
					img.gridResult(src='images/weather/cloudy.png')
				else if data.farm.weather[0].weatherType == 'Fog'
					img.gridResult(src='images/weather/fog.png')
				else if data.farm.weather[0].weatherType == 'Lightning'
					img.gridResult(src='images/weather/lightning.png')
				else if data.farm.weather[0].weatherType == 'Rain'
					img.gridResult(src='images/weather/rain.png')
				else if data.farm.weather[0].weatherType == 'Snow'
					img.gridResult(src='images/weather/snow.png')
				else if data.farm.weather[0].weatherType == 'Sunny'
					img.gridResult(src='images/weather/sunny.png')
				else if data.farm.weather[0].weatherType == 'Windy'
					img.gridResult(src='images/weather/windy.png')
			.humidityLabel
				img.gridLabel(src='images/headings/humidity.png', style='height:75px')
			.humidityContainer
				.humcontainer
					img.moisture(src='images/weather/raindrop.png')
					button(onclick='fill()',style="position:relative;top:150px") Display Moisture
					#water(onclick='fill()')
				#humidity #{JSON.stringify(data.farm.weather[0].humidity)}%
				br
					
			.Speed
				p.result #{JSON.stringify(data.farm.weather[0].windStrength)}MPH
			.arrows
				-var w = JSON.stringify(data.farm.weather[0].windStrength)
				-w = parseInt(w)
				if w >= 32
					img.gridResult(src='images/arrows/heavy.png')
				else if w >=13
					img.gridResult(src='images/arrows/medium.png')
				else
					img.gridResult(src='images/arrows/light.png')
		
>>>>>>> eef43f773b818fa70a5391e3d48f9ea1dcf1a881
		style
			include ../public/stylesheets/stylesheet.css	
