block content
	div
		ul.nav.nav-tabs
			li.nav-item
				a.nav-link.active(href='#' id='Farm' onClick="Weather();") Weather Summary
			li.nav-item
				a.nav-link(href='#' id='Summary' onClick="Summary();") Crop Summary
			li.nav-item
				a.nav-link(href='#' id='weatherAnalysis' onClick="WeatherAnalysis();") Weather Analysis
			li.nav-item
				a.nav-link(href='#' id='cropAnalysis' onClick="CropAnalysis();") Crop Analysis
		div(id='weather' data-bind=data.farm.weather[0].weatherType style='display:none')
		div(id='season' data-bind=data.farm.weather[0].season style='display:none')
		div(id='id' data-bind=data.farmID style='display:none')
		div(id='temperature' data-bind=data.farm.weather[0].temperature style='display:none')
		script(src="/javascript/thermometer.js")
		.grid-container
			.l1
				img(src='images/headings/season.png') 
			.r1
				if data.farm.weather[0].season == 'Autumn'
					img(src='images/seasons/autumn.png')
				else if data.farm.weather[0].season == 'Spring'
					img(src='images/seasons/spring.png')
				else if data.farm.weather[0].season == 'Winter'
					img(src='images/seasons/winter.png')
				else if data.farm.weather[0].season == 'Summer'
					img(src='images/seasons/summer.png')
			.l2
				img(src='images/headings/weather.png')
			.r2
				if data.farm.weather[0].weatherType == 'Clear'
					img(src='images/weather/clear.png')
				else if data.farm.weather[0].weatherType == 'Cloudy'
					img(src='images/weather/cloudy.png')
				else if data.farm.weather[0].weatherType == 'Fog'
					img(src='images/weather/fog.png')
				else if data.farm.weather[0].weatherType == 'Lightning'
					img(src='images/weather/lightning.png')
				else if data.farm.weather[0].weatherType == 'Rain'
					img(src='images/weather/rain.png')
				else if data.farm.weather[0].weatherType == 'Snow'
					img(src='images/weather/snow.png')
				else if data.farm.weather[0].weatherType == 'Sunny'
					img(src='images/weather/sunny.png')
				else if data.farm.weather[0].weatherType == 'Windy'
					img(src='images/weather/windy.png')
			.l3
				img(src='images/headings/temperature.png')
			.r3
				//p #{JSON.stringify(data.farm.weather[0].temperature)}	
				.thermodiv
					#mercury(onload='move()')
				#circle
					#temperature #{JSON.stringify(data.farm.weather[0].temperature)}
				button(onclick='move()') Click Me				
			.l4
				img(src='images/headings/humidity.png')
			.r4
				p.result #{JSON.stringify(data.farm.weather[0].humidity)}
			.l5
				img(src='images/headings/wind.png')
			.r5
				p.result #{JSON.stringify(data.farm.weather[0].windStrength)}
		style
			include ../public/stylesheets/stylesheet.css	
